.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.experience-item {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.left-column {
  text-align: right;
  margin-right: auto;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-column {
  text-align: left;
  margin-left: auto;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-position,
.company-name,
.date {
  display: block;
}

.company-position,
.company-name {
  font-weight: bold;
}

.company-name {
  color: #3498db;
}

.resume-section {
  line-height: 1.6;
  margin-bottom: 20px;
}

.resume-item {
  margin-bottom: 15px;
}

.date {
  font-style: italic;
  color: #777;
}
