/* MenuOverlay.css */

/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.section {
  color: white;
  margin: 40rem 0;
  padding-top: 10rem;
}

.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-content-container {
  position: relative;
  padding-top: 100px;
}

.main-content-container {
  position: absolute;
  top: 35%;
  left: 50%;
  display: flex;
  transform: translate(-50%);
  z-index: 5;
  width: 50vw;
  flex-direction: column;
  color: white;
}

.main-content-1 {
  text-align: center;
  letter-spacing: 0.1rem;
  opacity: 0;
  z-index: 5;
  color: white;
  animation: fadeInZoomIn 2s forwards;
}

.main-content-2 {
  border-top: 1px solid #3498db;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
  text-align: center;
  opacity: 0;
  animation: fadeInMoveUp 1s 1.5s forwards;
  color: hsl(0, 0%, 60%);
}

.main-content-3 {
  text-align: center;
  letter-spacing: 0.1rem;
  opacity: 0;
  animation: fadeInMoveUp 1s 1.7s forwards;
  color: hsl(0, 0%, 60%);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  z-index: 6;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 60%);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-item {
  text-align: center;
  padding: 1px;
  letter-spacing: 0.1rem;
  font-size: large;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInMoveDown 1s forwards;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3498db, 0 0 40px #3498db,
    0 0 50px #3498db, 0 0 60px #3498db;
}

.menu-item-left {
  flex: 1;
  text-align: left;
}

.menu-item-right {
  flex: 1;
  text-align: right;
}

.menu-item-center {
  text-align: center;
  margin: 0 2rem;
  font-size: medium;
}

.section-heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.section-text {
  font-size: medium;
  border-top: 1px solid #3498db;
  padding-top: 2rem;
  color: hsl(0, 0%, 60%);
  letter-spacing: 0;
  word-spacing: 0.3rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #3498db;
  padding: 5px 0;
  width: 100%;
  z-index: 10;
  display: flex;
}

.dropdown-menu.active {
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3498db, 0 0 40px #3498db,
    0 0 50px #3498db, 0 0 60px #3498db;
}

@keyframes fadeInMoveDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInZoomIn {
  0% {
    filter: blur(1.5rem);
    opacity: 0;
    font-size: large;
  }

  100% {
    filter: blur(0);
    opacity: 1;
    font-size: 3rem;
  }
}

.head-shot {
  width: 15vw;
  height: auto;
  margin-right: 2rem;
  border-radius: 10px;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.about-description p {
  margin: 0;
  padding: 5px 0;
}

@media screen and (max-width: 660px) {
  .main-content-container {
    width: 100vw;
  }
  .head-shot {
    width: 40vw;
    margin-right: 0;
    margin-bottom: 1rem;
    align-self: center;
  }
  .menu-overlay {
    height: 100%;
    backdrop-filter: none;
    display: flex; /* Ensures items are aligned at the top */
    justify-content: flex-start; /* Aligns items to the left */
    align-items: flex-start; /* Aligns items to the top */
  }
  .about-content {
    flex-direction: column;
  }

  .section-heading {
    padding: 0 1rem;
  }

  .menu-item-center {
    display: none;
  }

  .menu-item-left {
    text-align: center;
  }

  .menu-item-right {
    text-align: center;
  }
}

/* Styles for the burger menu */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  backdrop-filter: blur(10px);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  max-height: none !important;
}

.bm-item {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #f0f0f0;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
